Read Data

In [1]:
import numpy as np
import pandas as pd

df=pd.read_csv('/content/KAG_Conversion_Data.csv')
df1='/content/KAG_Conversion_Data.csv'
data=np.genfromtxt(df1,delimiter=',', encoding=None, skip_header=1,dtype=str)
data1=np.genfromtxt(df1, delimiter=',',dtype=float,skip_header=1)
df

        ad_id  xyz_campaign_id  ...  Total_Conversion Approved_Conversion
0      708746              916  ...                 2                   1
1      708749              916  ...                 2                   0
2      708771              916  ...                 1                   0
3      708815              916  ...                 1                   0
4      708818              916  ...                 1                   1
...       ...              ...  ...               ...                 ...
1138  1314410             1178  ...                13                   2
1139  1314411             1178  ...                 3                   0
1140  1314412             1178  ...                 2                   0
1141  1314414             1178  ...                 8                   2
1142  1314415             1178  ...                 5                   2

[1143 rows x 11 columns]

In [2]:
df.xyz_campaign_id.unique()
df.groupby(['xyz_campaign_id']).count()

                 ad_id  fb_campaign_id  ...  Total_Conversion  Approved_Conversion
xyz_campaign_id                         ...
916                 54              54  ...                54                   54
936                464             464  ...               464                  464
1178               625             625  ...               625                  625

[3 rows x 10 columns]

What are the age groups that were targeted through these ad campaigns?

In [9]:
a=df.age.max()
b=df.age.min()
print('The age group trageted through this camoaigns are',b,a)

The age group trageted through this camoaigns are 30-34 45-49

What was the average, minimum and maximum amount spent on the ads?

In [12]:
c=df.Spent.mean()
d=df.Spent.max()
e=df.Spent.min()
print('Avg time spent is',c)
print('min time spent is',e)
print('max time spent is',d)

Avg time spent is 51.36065613141293
min time spent is 0.0
max time spent is 639.9499981

What is the id of the ad having the maximum number of clicks ?

In [13]:

g=df.Clicks.max()
print(g)

421

In [16]:
b=df.ad_id[g]
print(b)

782587

How many people bought the product after seeing the ad with most clicks? Is that the maximum number of purchases in this dataset?

In [17]:
h=df.Approved_Conversion.max()
print(h)

21

In [18]:
i=df.Total_Conversion.max()
print(i)

60

So the ad with the most clicks didn't fetch the maximum number of purchases. Find the details of the product having maximum number of purchases

In [19]:
data[data[:,10]=='21']

array([['1121104', '1178', '144533', '30-34', 'M', '16', '2080666',
        '202', '360.1500015', '40', '21']], dtype='<U11')